.header{
    border-bottom:2px dashed silver;
    display:flex;
    
    padding:1%;
    
    
    h1{
        display:flex;
        width:33%;
        justify-content: flex-end;
    }
    .links{
    display:flex;
    margin-right:1%;
    font-size:1.8rem;
   justify-content:flex-end;
    width:45%;
    
   }
   a{
    
    color:black; 
    padding:3%;
   }
    
}/* header closes   */
@media @mobile{
    .header{
        flex-direction:column;
    }
    h1{
        justify-content: center;
        width:100%;
    }
    a{
        justify-content:space-evenly;
        width:100%;
    }
}
